body {
    background-color: rgb(105, 171, 224);
    background-size: cover;
    position: fixed;
    height: 100%;

}

.D {
    display: flex;
    text-align: center;
    font-size: xx-large xx-large;
    font-style: italic;
    font-family: century;
    margin-right: 5cm;
    margin: auto;
    cursor: pointer;
    margin-top: -1cm;
}

nav .D a {
    margin-right: 5cm;
    padding-top: 0.8cm;
    margin: auto;
    margin-top: 0.4cm;
    font-size: x-large;
    color: rgb(12, 12, 12);

}

#H {
    color: beige;
    font-style: italic;
    font-family: century;
    padding-left: 36%;
    font-size: xx-large;


}

.cartes {
    width: 200vh;
    height: 50vh;
    display: flex;
    padding-top: 2%;
    margin-left: 25px;

}

.carte {
    width: 360px;
    height: 350px;
    margin-right: 30px;
}

.im {
    width: 100%;
    height: 100%;
}

.cartes {
    display: flex;

}

.carte {
    border-radius: 20px;
    overflow: hidden;
    background: steelblue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    height: 150%;
    cursor: default;
    transition: all 400ms ease;

}

.carte:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
    transform: translateY(-4%);
}

.carte .contenu {
    text-align: center;
    line-height: 1.2;
}

.carte .contenu a {
    border: 1px solid beige;
    border-radius: 10px;
    transition: all 400ms ease;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border-width: 2px;
    color: black;
}

.carte .contenu a:hover {
    background: beige;
}
.tout{
    height: 100%;
}