 body{
    background-color:rgb(95, 188, 188);
    width: 100%;
    height: 400%;
     
 }
 .text3{
   box-sizing: content-box;
    
 }
 .titre1{
  color:gold ;
 }
 
#caroussel{
  width: 500px;
  overflow: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border: 2px solid black;
}
.images{
  display: block;
  margin: auto;
  display: flex;
  animation-duration: 10s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}
  @keyframes mesImages{
    0%{
      transform: translateX(0);
    }
    25%{
      transform: translateX(-570px);
    }
    50%{
      transform: translateX(-1070px);
    }
    75%{
      transform: translateX(-1634px);
    }
    100%{
      transform: translateX(0);
    }
  }
 .box{
   width: 650px;
   height: 460px;
   padding: 20px;
   border: 8px solid rgba(0, 255, 217, 0.893);
   background:rgba(69, 132, 184, 0.658);
   float: right;
   margin-left: 60%;
  margin-top: -650px;
 }
 
.text4{
  box-sizing: content-box;
}
.box1{
  width: 500px;
  height: 350px;
  padding: 20px;
  border: 8px solid rgba(0, 255, 217, 0.893);
  background:rgba(69, 132, 184, 0.658);
  margin-top: 1%;
  
}
.hampi{
  float: right;
  margin-top: 1cm;
}
.position{
  position: relative;
  top:-30px;
  
}
#F{
text-align: center;
background-color: white;
margin-top: 1cm;
font-size: x-large;
}
 